:root {
    /* Базовые цвета */
    --Белый: #fff;
    --Полупрозрачный-белый: #d7ccc0;
    --Светлый: #f5f4f0;
    --Основной: #fe8a02;
    --Основной-тёмный: #42413c;
    --Тёмный: #2a2626;
    --Полупрозрачный-тёмный: #908d8b;
    --Коричневый: #b09a81;
    --Синий: #1085c5;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    color: var(--Тёмный);
    position: relative;
}

h1, h2, h3 {
    font-family: 'Neucha', cursive;
    line-height: 1.2em;
    font-weight: 400;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 34px;
}

.wrapper {
    position: relative;
    max-width: 1110px;
    margin: 0 auto;
    padding: 100px 0;
}

/* header */

.header {
    background-color: var(--Светлый);
    height: 914px;
}

.header::before {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    height: 914px;
}

.orange {
    color: var(--Основной);
}

.header__title {
    position: relative;
    margin-top: 0;
    margin-bottom: 185px;
    z-index: 1;
}

.header__img {
    content: url(../img/header-img.png);
    position: absolute;
    overflow: hidden;
    top: 55px;
    right: -270px;
    height: 525px;
}

.columns__section {
    display: flex;
    justify-content: space-between;
}

.columns__2 {
    width: 540px;
}

.header__description {
    margin-bottom: 0;
    position: relative;
    z-index: 1;
}

.header__link {
    display: inline-block;
    margin-top: 40px;
    color: var(--Белый);
    padding: 12px 24px;
    font-weight: bold;
    background-color: var(--Основной);
    text-transform: uppercase;
    text-decoration: none;
}

.header__link:hover {
    background-color: #ea7600;
}

/* video__section */

.video__section {
    position: relative;
    text-align: center;
    background-color: var(--Белый);
    height: 814px;
}

.video__title {
    margin: 0 0 30px 0;
}

.video__description {
    margin: 0 0 30px 0;
}

.video {
    filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
    position: relative;
    left: 0;
    right: 0;
}

/* nav__section */

.nav__section {
    padding-top: 100px;
    background-color: var(--Основной-тёмный);
}

.nav__section > .wrapper {
    display: flex;
    flex-wrap: wrap;
}

.nav__sqr {
    display: inline-block;
    height: 350px;
    padding: 24px;
    background-color: var(--Светлый);
}

.nav__title {
    font-size: 52px;
}

.nav__num {
    margin-bottom: 40px;
    font-size: 64px;
    font-family: 'Neucha', cursive;
    line-height: 1;
}

.nav__subtitle {
    font-size: 34px;
}